.recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
}
.recipes-title {
    color: #ff9000;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}
.recipes-span {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    left: 0;
}
.recipes-span:hover {
    cursor: pointer;
    color: #dbd8d8;
}